@model _Entidades.Plan

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>DENEGADO  :(</h3>
<div>
    <h4>Plan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            Minutos
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Minutos)
        </dd>

        <dt>
            Activo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstReg)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Planes", "Index")
        </div>
    }
</div>
