@model _Entidades.Plan

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Plan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            Minutos
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Minutos)
        </dd>

        <dt>
            Activo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstReg)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Planes", "Index")
</p>
