<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Solinteg</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Solinteg", "Index", "Home", new { Area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Empresas", "Index", "si_Empresa", new { Area = "supportSI" }, new { })</li>
                        <li>@Html.ActionLink("Planes", "Index", "si_Plan", new { Area = "supportSI" }, new { })</li>
                        <li>@Html.ActionLink("Contratos", "Index", "si_Contrato", new { Area = "supportSI" }, new { })</li>
                        <li> @Html.ActionLink("Tickets", "Index", "si_Ticket", new { Area = "supportSI" }, new { }) </li>
                        <li>@Html.ActionLink("Crear Usuario", "Register", "Account", new { Area = "" }, new { })</li>
                    }
                    else if (User.Identity.IsAuthenticated && User.IsInRole("Cliente"))
                    {
                        <li> @Html.ActionLink("Soporte", "Index", "cli_Ticket",new { Area = "Cliente" }, new { }) </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container-full miclass body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="~/Scripts/_01basico.js"></script>
    <script type="text/javascript" src="~/Scripts/_02commonQuerys.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
